{% extends "games/base.jinja2" %}

{% block title %}{{ _("elect_title") }}{% endblock %}


{% block inner_content %}
    <div id="play-area" class="scrollable"></div>
    <div class="players-list-container is-horizontal" id="player-list-container"></div>
{% endblock %}

{% block script %}
    const playAreaEl = document.getElementById('play-area')

    function handleStateChange(view) {
        playAreaEl.innerHTML = view
    }
{% endblock %}
