.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

#play-area
    width: 90%
    min-height: 150px

    margin: 5ex 0 2ex 0

    display: flex
    flex-direction: column
    align-items: center

.pretext
    margin-bottom: 1ex


.actions-list
    margin-top: 3ex

    display: flex
    flex-direction: column
    align-items: center

    .button
        margin-top: 1ex


.button
    height: auto

    .player
        margin: 1ex

.button-group
    margin: 4ex


#votes-list
    width: 100%

    display: flex
    flex-direction: column
    align-items: center

    .card
        margin: 1ex 0
        width: 100%
        max-width: 700px

        flex: 0 0 auto

        box-shadow: 2px 2px 6px #171717

        padding: 1.5ex

        color: #efefef

        border: 1px solid #242424
        border-radius: 5px 3px

        background-color: #1f1f1f

        display: flex
        flex-direction: row
        flex-wrap: wrap

        .player
            flex: 0 0 30ex

        .votes
            margin: 1ex
            margin-left: auto
