<div class="pretext">
    {{ _('vote_results_text') }}
</div>

<div id="votes-list" class="scrollable">
    {% for player, votes in vote_data %}
        <div class="card">
            <div class="player">
                <div class="picture" style="background-image: url('{{ player.avatar_url }}')"></div>
                <div class="player-name ellipsis-text" style="color: {{ player.color }};" title="{{ player.name }}">
                    {{ player.name }}
                </div>
            </div>
            {% if votes|length > 0 %}
                <div class="votes">
                    {% for voter in votes %}
                        <span class="tag">
                            {% if hide_voters %}
                                ???
                            {% else %}
                                <span style="color: {{ voter.color }};">
                                    {{ voter.name }}
                                </span>
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% if is_lead %}
    <div class="button-group">
        {% if not hide_details_button %}
            <button class="button is-primary"
                    onclick="emitPlay({'action':'show_result_details'}, this)"
            >
                <span>{{ _('show_result_details') }}</span>
                <i class="las la-angle-double-right"></i>
            </button>
        {% endif %}
        <button class="button is-primary"
                onclick="emitPlay({'action':'next_round'}, this)"
        >
            <span>{{ _('next_round') }}</span>
            <i class="las la-angle-double-right"></i>
        </button>
    </div>
{% endif %}
