{% extends "games/base.jinja2" %}

{% block title %}Cards against Humankind{% endblock %}


{% block inner_content %}
    <div id="play-area"></div>
    <div class="scrollable players-list-container is-horizontal" id="player-list-container"></div>
{% endblock %}

{% block script %}
    const playAreaEl = document.getElementById('play-area')

    function handleStateChange(view) {
        playAreaEl.innerHTML = view
    }
{% endblock %}
