{% macro render_card_hand( cards_hand, selected_card, allow_select, allow_delete, allow_delete_all, remaining_blank_cards ) -%}
    <div class="deck">
        {% if selected_card %}
        <div class="card selected {% if selected_card.was_blank %} card-was-blank {% endif %}">
            <div class="card-content scrollable">
                <div>{{ selected_card.text }}</div>
            </div>
            {% if selected_card.was_blank %}
                <span class="icon pen-icon">
                    <i class="las la-pen"></i>
                </span>
            {% endif %}
            <div class="tag is-primary">
                <i class="las la-lg la-check"></i>
            </div>
        </div>
        {% endif %}
        {% for card in cards_hand %}
            <div class="card {% if card.was_blank %} card-was-blank {% endif %}">
                <div class="card-content scrollable">
                    <div>{{ card.text }}</div>
                </div>
                {% if card.was_blank %}
                    <span class="icon pen-icon">
                        <i class="las la-pen"></i>
                    </span>
                {% endif %}
                <div class="overlay">
                    {% if allow_delete %}
                        <button onclick="emitPlay({'action':'player_throw', 'card_no': {{ loop.index - 1 }}}, this)"
                                class="button is-danger"
                        >
                            <span class="icon">
                                <i class="las la-trash"></i>
                            </span>
                        </button>
                    {% endif %}
                    {% if allow_select %}
                        <button onclick="emitPlay({'action':'player_select', 'card_no': {{ loop.index - 1 }}}, this)"
                                class="button is-primary"
                        >
                            <span class="icon">
                                <i class="las la-check"></i>
                            </span>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="deck">
        {% if allow_delete_all %}
            <button onclick="emitPlay({'action':'player_throw_all'}, this)" class="button is-danger">
                <span class="icon">
                    <i class="las la-trash"></i>
                </span>
                <span>{{ _('throw_all') }}</span>
            </button>
        {% endif %}

        {% if remaining_blank_cards > 0 %}
            <button onclick="document.getElementById('blankCardModal').classList.add('is-active')"
                    class="button is-primary" id="blankButton"
            >
                <span class="icon">
                    <i class="las la-pen"></i>
                </span>
                <span>{{ _('write_blank_card') }}</span>
                <span class="tag is-rounded is-link">{{ remaining_blank_cards }}</span>
            </button>
            <div class="modal" id="blankCardModal">
                <div onclick="document.getElementById('blankCardModal').classList.remove('is-active')"
                     class="modal-background"
                ></div>
                <div class="modal-content">
                    <article class="message">
                        <div class="message-header is-black">
                            <p>{{ _('write_blank_card') }}</p>
                            <button onclick="document.getElementById('blankCardModal').classList.remove('is-active')"
                                    class="delete"
                            ></button>
                        </div>
                        <div class="message-body">
                            <form>
                                <div>
                                    <input id="blankText" type="text" name="text" placeholder="&nbsp;" v-model="blankText">
                                    <label for="blankText">{{ _('text') }}</label>
                                </div>
                                <button class="button is-primary" type="submit"
                                   onclick="playValue = document.getElementById('blankText').value;
                                            emitPlay({'action':'player_blank', 'value':playValue}, this);
                                            return false;" {# to prevent form submit over HTTP #}
                                >
                                    <span class="icon">
                                        <i class="las la-check"></i>
                                    </span>
                                    <span>{{ _('play_card') }}</span>
                                </button>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        {% endif %}
    </div>

{%- endmacro %}
