{% extends "games/base.jinja2" %}

{% block title %}Cards against Humankind{% endblock %}


{% block inner_content %}
    <div id="black-card-container"></div>
    <div class="scrollable players-list-container is-vertical" id="player-list-container"></div>
    <div id="play-area">
        <div class="is-hidden" id="czar-hand-container"></div>
        <div class="scrollable" id="player-hand-container"></div>
    </div>
{% endblock %}

{% block script %}
    const blackCardEl = document.getElementById('black-card-container')
    const czarHandEl = document.getElementById('czar-hand-container')
    const playerHandEl = document.getElementById('player-hand-container')

    function handleStateChange(view) {
        if (view.blackCard) {
            blackCardEl.innerHTML = view.blackCard
        }
        if (view.czar) {
            czarHandEl.innerHTML = view.czar
            czarHandEl.classList.remove('is-hidden')
        }
        if (view.player) {
            playerHandEl.innerHTML = view.player
        }
    }
{% endblock %}
