.player
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap

    *
        margin: 0 3px

    .name
        text-overflow: ellipsis
        overflow: hidden

    .picture
        $size: 30px

        position: relative

        width: $size
        height: $size
        border-radius: 50%

        flex: $size 0 0

        background: no-repeat center center
        background-size: cover

        .crown
            position: absolute
            right: calc($size * -0.325)
            top: calc($size * -0.2)

            width: calc($size * 0.8)
            height: calc($size * 0.5)

            transform: rotate(35deg)
