{% from "games/bingo/partials/card.jinja2" import render_card %}

<div class="container">

    <div class="level">
        <h1 class="title is-4 has-text-centered">Winner:&nbsp;</h1>
        <div class="player" id="winner-info">
            <div class="picture" style="background-image: url({{ winner.avatar_url }})"></div>
            <div class="name" style="color: {{ winner.color }};">
                {{ winner.name }}
            </div>
        </div>
    </div>

    <div class="level" style="--primary-color: {{ winner.color }};">

        {{ render_card(
            winner_ps, False
        ) }}

    </div>

    {% if user_is_initiator %}
        <button class="button is-primary" onclick="emitPlay({'action':'next_round'}, this)">
            <span>{{ _('next_round') }}</span>
            <span class="icon">
                <i class="las la-angle-double-right"></i>
            </span>
        </button>
    {% endif %}

</div>
