<div>
    <div class="card-pretext">
        {% if is_lead %}
            <span>You</span>
            <span>are asking</span>
        {% else %}
            <span style="color: {{ lead.color }}">{{ lead.name }}</span>
            <span>is asking</span>
        {% endif %}
        {% if user_is_target %}
            <span class="everyone-tag">you</span>
        {% elif target %}
            <span style="color: {{ target.color }}">{{ target.name }}</span>
        {% else %}
            <span class="everyone-tag">@everyone</span>
        {% endif %}
        <span>:</span>
    </div>

    <div class="card" style="--card-color: #{{ card.colour }};">
        {{ card.text_a }}
    </div>

    {% if is_lead %}
        <div class="actions-list">
            <div>
                Once they answered to your satisfaction, click the button.
            </div>
            <button class="button is-primary"
                    onclick="emitPlay({'action':'answered'}, this)"
            >
                <span>continue</span>
                <i class="las la-angle-double-right"></i>
            </button>
        </div>
    {% endif %}
</div>
