<div class="actions-list">

    <h4 class="title is-4 has-text-centered">That's it!</h4>
    <h5 class="title is-5 has-text-centered">No more cards are left.</h5>

    <a class="button is-primary is-outlined" href="/">
        <span>{{ _('back_to_menu') }}</span>
        <span class="icon">
            <i class="las la-angle-double-right"></i>
        </span>
    </a>

</div>
