<div class="waiting" style="--primary-color: {{ lead.color }};">

    {% include "_partials/spinner.jinja2" %}

    <h4 class="title is-4 has-text-centered">
        <span>Waiting for</span>
        <span style="color: var(--primary-color);">{{ lead.name }}</span>
        <span>to select their target...</span>
    </h4>

</div>
