{% extends "_bases/menu.jinja2" %}

{% block title %}{{ _('edit_profile_title') }}{% endblock %}

{% block content %}
<style type="text/css">
        form {
            display: flex;
            flex-direction: column;
        }

        * {
            transition: all 0.1s !important;
        }

        .title {
            padding-bottom: 30px;
        }

        .button {
            align-self: flex-end;
        }

        .input-group {
            padding-bottom: 35px;
        }

        .colors-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            align-self: center;
        }

        {% for count in color_column_widths %}
        @media(min-width: {{ 40*count + 270 }}px) {
            .colors-list {
                max-width: {{ 40*count + 10 }}px;
            }
        }
        {% endfor %}
        
        .colors-list input {
            display: none;
        }

        .colors-list label {
            --size: 25px;

            width: var(--size);
            height: var(--size);
            margin: calc((40px - var(--size)) / 2);
            transition: width .2s, height .2s, margin .2s;

            border-radius: 5px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .colors-list label:hover {
            --size: 30px;

            cursor: pointer;
        }
        .colors-list input:checked+label {
            --size: 35px;
        }

        .colors-list label .las {
            font-size: 120%;
            font-weight: bold;

            opacity: 0;
            transition: opacity .35s;
        }
        .colors-list input:checked+label .las {
            opacity: 1;
        }

        .button {
            transition: background-color 1s;
        }
    </style>

    <h1 class="title is-2">{{ _('edit_profile_title') }}</h1>

    <form method="post">
        <h2 class="is-5">{{ _('select_color') }}:</h2>

        <div class="colors-list input-group">
            {% for color in colors %}
                <input
                    type="radio" name="color"
                    value="{{ color }}"  {{ 'checked' if color == user.color }} id="color-{{ color }}"
                    onClick="handleColorSelected(this)"
                />
                <label for="color-{{ color }}" style="background-color: {{ color }}">
                    <i class="las la-check"></i>
                </label>
            {% endfor %}
        </div>

        <div class="input-group checkbox-radio-group">
            <h2 class="is-5">{{ _('select_locale') }}:</h2>
            <input
                type="radio" name="locale"
                value="en" id="locale-en" {{ 'checked' if user.locale == 'en' }}
            />
            <label for="locale-en">
                <span>English</span>
            </label>
            <input
                type="radio" name="locale"
                value="de" id="locale-de" {{ 'checked' if user.locale == 'de' }}
            />
            <label for="locale-de">
                <span>Deutsch</span>
            </label>
        </div>

        <div class="buttons is-right">
            <a class="button is-primary is-outlined" href="/auth">
                <span>{{ _('get_name_and_avatar_from_discord') }}</span>
                <span class="icon">
                    <i class="las la-sync"></i>
                </span>
            </a>
            <button class="button is-primary" id="saveButton">
                <span>{{ _('save_button') }}</span>
                <span class="icon">
                    <i class="las la-angle-double-right"></i>
                </span>
            </button>
        </div>
    </form>

    <script>
        const bodyEl = document.querySelector('body')

        function handleColorSelected(evt) {
            setColorVar(evt.value)
        }
        function setColorVar(color) {
            bodyEl.style = `--primary-color: ${color};`
        }

        setColorVar('{{ user.color }}')
    </script>
{% endblock %}